.handplant-icon {
  position: absolute;
  top: 1190px;
  left: 90px;
  border-radius: 167px;
  width: 336px;
  height: 334px;
  object-fit: cover;
}
.indian-agriculture-challenges {
  margin: 0;
}
.indian-agriculture-challenges-container {
  position: absolute;
  top: 1067px;
  left: 614px;
  font-size: 40px;
  font-family: var(--font-lemon);
  display: inline-block;
  width: 562px;
  height: 96px;
}
.unlock-the-potential-container {
  position: absolute;
  top: 1210px;
  left: 614px;
  font-size: 29px;
  display: inline-block;
  width: 706px;
  height: 370px;
}
.top-green-icon {
  position: absolute;
  top: calc(50% - 1173px);
  left: 0;
  width: 1530px;
  height: 82px;
}
.logo{
  position: absolute;
  top: 15px;
  left: 10px;
  width: 46px;
  height: 44px;
  object-fit: cover;
}
.about,
.agro-data-dynasty-container,
.contact,
.dashboard,
.home,
.story {
  position: absolute;
  top: 17px;
  left: 60px;
  font-weight: 600;
  display: inline-block;
  width: 130px;
  height: 45px;
}
.about,
.contact,
.dashboard,
.home,
.story {
  top: 28px;
  left: 706px;
  font-size: var(--font-size-base);
  width: 52px;
  height: 28px;
  cursor: pointer;
}
.about,
.contact,
.dashboard,
.story {
  left: 795px;
  width: 65px;
  color: #000902;
}
.contact,
.dashboard,
.story {
  left: 897px;
  width: 103px;
}
.contact,
.story {
  left: 1037px;
  width: 150px;
}
.contact {
  left: 1200px;
  width: 95px;
}
.get-started2:hover {
  color: var(--color-gainsboro);
}
.get-started-txt-container {
  line-break: anywhere;
  width: 100%;
}
.get-started1 {
  position: absolute;
  height: 88.89%;
  width: 96.89%;
  top: 0;
  left: 0;
  font-weight: 900;
  display: flex;
  align-items: center;
}
.get-started {
  position: absolute;
  top: calc(50% - 1159.5px);
  left: calc(50% + 556.5px);
  background: linear-gradient(
    180deg,
    rgba(134, 230, 89, 0) 46.88%,
    #5ceb19 55.21%
  );
  border: 5px solid var(--color-white);
  box-sizing: border-box;
  width: 161px;
  height: 45px;
  overflow: auto;
  cursor: pointer;
  color: var(--color-black);
}
.team-green-border {
  position: absolute;
  top: 1730px;
  left: 2px;
  width: 1528px;
  height: 616px;
}
.jenson-k-cletus-container,
.team-members {
  position: absolute;
  left: 24px;
  display: flex;
  align-items: center;
}
.team-members {
  top: 1743px;
  font-size: var(--font-size-13xl);
  font-weight: 800;
  width: 416px;
  height: 50px;
}
.jenson-k-cletus-container {
  top: 1750px;
  font-size: 24px;
  font-weight: 500;
  width: 540px;
  height: 270px;
}

.about1,
.contact1,
.dashboard1,
.home1,
.story1,
.useful-links {
  position: absolute;
  top: 1735px;
  left: 725px;
  font-size: var(--font-size-13xl);
  font-weight: 800;
  display: flex;
  align-items: center;
  width: 202px;
  height: 50px;
}
.about1,
.contact1,
.dashboard1,
.home1,
.story1 {
  top: 1800px;
  left: 745px;
  font-size: var(--font-size-11xl);
  font-weight: 600;
  width: 169px;
}
.about1,
.contact1,
.dashboard1,
.story1 {
  top: 2060px;
  left: 745px;
  cursor: pointer;
}
.about1,
.dashboard1,
.story1 {
  top: 1865px;
  left: 745px;
}
.dashboard1,
.story1 {
  top: 1930px;
  left: 745px;
  width: 181px;
  height: 40px;
}
.story1 {
  top: 1995px;
  left: 745px;
  width: 169px;
  height: 57px;
}
.front-image-icon {
  position: absolute;
  top: 70px;
  left: 0;
  width: 1530px;
  height: 906px;
  object-fit: cover;
}
.thankyou {
  position: absolute;
  top: 1872px;
  left: 1020px;
  background-color: var(--color-white);
  width: 470px;
  height: 150px;
}
.copyrights,
.thank-you {
  position: absolute;
  display: flex;
  align-items: center;
}
.thank-you {
  top: 1845px;
  left: 1054px;
  font-size: 128px;
  font-family: var(--font-italianno);
  width: 490px;
  height: 210px;
}
.copyrights {
  top: 2213px;
  left: 569px;
  width: 147px;
  height: 60px;
}
.all-rights-reserved,
.data-dynasty,
.designed-by-team,
.smartbridge {
  position: absolute;
  top: 2223px;
  display: flex;
  align-items: center;
  height: 40px;
}
.smartbridge {
  left: 696px;
  font-weight: 600;
  width: 137px;
}
.all-rights-reserved,
.data-dynasty,
.designed-by-team {
  left: 830px;
  width: 190px;
}
.data-dynasty,
.designed-by-team {
  top: 2250px;
  left: 633px;
  font-weight: 600;
  width: 185px;
  height: 60px;
}
.data-dynasty {
  top: 2265px;
  left: 830px;
  color: #a61717;
  width: 220px;
  height: 30px;
}
.twitter-icon {
  position: absolute;
  top: 1994px;
  left: 24px;
  width: 60px;
  height: 52px;
  object-fit: cover;
}
.facebook-icon,
.gmail-icon,
.instagram-icon,
.linkedin-icon {
  position: absolute;
  top: 1994px;
  left: 100px;
  width: 60px;
  height: 52px;
  object-fit: cover;
}
.gmail-icon,
.instagram-icon,
.linkedin-icon {
  top: 1994px;
  left: 176px;
  width: 60px;
  height: 52px;
}
.gmail-icon,
.instagram-icon {
  top: 1994px;
  left: 252px;
  width: 60px;
  height: 52px;
}
.gmail-icon {
  top: 1994px;
  left: 328px;
  width: 60px;
  height: 52px;
}
.intro-page {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2346px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.img-write {
  position: absolute;
  top: 350px;
  left: 200px;
  font-size: var(--font-size-13xl);
  font-weight: 800;
  color: #fffdfd;
  display: inline-block;
  width: 1100px;
  height: 190px;
}
.agro-data1{
  margin: 0;
}
.logo-ABOUT{
  position: absolute;
  top: 17px;
  left: 17px;
  width: 46px;
  height: 44px;
  object-fit: cover;
}

.agro-data-about {
  margin: 0;
}
.agro-data-dynasty-container1 {
  position: absolute;
  top: 17px;
  left: 70px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  display: inline-block;
  width: 130px;
  height: 45px;
}


.dashboard2 {
  position: absolute;
  top: 28px;
  left: 935px;
  font-weight: 600;
  display: inline-block;
  width: 103px;
  height: 17px;
  cursor: pointer;
}
.visualagri1 {
  position: absolute;
  top: 130px;
  left: 54px;
  width: 650px;
  height: 600px;
  object-fit: cover;
}

 
.bar-charts-compare-container1 {
  position: absolute;
  top: 60px;
  left: 785px;
  font-size: 24px;
  font-family: var(--font-calistoga);
  color: #000902;
  display: flex;
  align-items: center;
  width: 626px;
  height: 754px;
}

.about-page {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 800px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}


.contact__form{
  background-color: #cfdfd0de;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  color: rgb(0, 0, 0);
  font-size:medium;
 

  text-align: left;
  width: 400px;
  padding: 70px 30px;
  border-radius: 1rem;
  box-shadow: rgba(21, 145, 161, 0.704) 0px 7px 29px 0px;
}
.contact__form > input, .contact__form > textarea{
  padding: 10px 20px;
  font-size: 1.2rem;

  border-radius: 1rem;
  border: none;
  box-shadow: rgba(96,184,234) 0px 7px 29px 0px;
}
.contact__form > textarea{
  resize: vertical;
}

.contact__form > input:focus, .contact__form > textarea:focus{
  outline: none;
  border: none;
}

#submit{
  margin: 15px 0;
  padding: 15px 45px;
  align-self: center;
  border-radius: 1rem;
  box-shadow: rgba(24, 194, 75, 0.2) 0px 7px 29px 0px;
  font-size: 1.25rem;
  background-color: #000000;
  border: none;
  cursor: pointer;
  color: #fbf8f8;

  transition: transform 0.2s;
}

#submit:hover{
  transform: scale(1.05);
  color: #2fdb19;
}
.container{
  position: absolute;
  top: 60px;
  left: 500px;
  width: 300px;
  height: 00px;
  object-fit: cover;
  color: rgb(255, 255, 255);
}
.hahw-1-icon {
  position: absolute;
  top: 76px;
  left: 0;
  width: 100%;
  height: 700px;
  object-fit: cover;
  left: 0%;
}
.contact-page {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 775px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.overall{
  position: relative;
  width: 100%;
  height: 500px;
  
}
.agro-data-dynasty-container-con {
  position: absolute;
  top: 17px;
  left: 88px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  display: inline-block;
  width: 130px;
  height: 45px;
}
.agro-data-con {
  margin: 0;
}
.logo-icon-con {
  position: absolute;
  top: 18px;
  left: 13px;
  width: 46px;
  height: 44px;
  object-fit: cover;
}




