{% extends "layout.html" %} {% block title %}HOME{% endblock %}{% block body %}
<div class="overall">
  <div class="contact-page">
      <img class="top-green-icon-con" alt="" src="{{ url_for('static', filename='images/top green.png') }}" />

      <div class="agro-data-dynasty-container-con">
        <p class="agro-data-con">AGRO DATA</p>
        <p class="agro-data-con">DYNASTY</p>
      </div>
      <img class="logo-icon-con" alt="" src="{{ url_for('static', filename='images/logo.png') }}" />

      <div class="home" id="hOMEText"><a style="color: black;" href="{{ url_for('index')}}">HOME</a></div>
      <div class="about" id="aBOUTText"><a style="color: black;" href="{{ url_for('about')}}">ABOUT</a></div>
      <div class="dashboard" id="dASHBOARDText"><a style="color: black;" href="{{url_for('dashboard')}}">DASHBOARD</a></div>
      <div class="story"><a style="color: black;" href="{{url_for('story')}}">STORY-REPORT</a></div> 
      <div class="contact"><a style="color: black;" href="{{url_for('contact')}}">CONTACT</a></div>
     
      </div>
      <img class="hahw-1-icon" alt="" src="{{ url_for('static', filename='images/HAhw.gif') }}" />
    </div>


  <div class="container">
      <h1>Contact Us</h1>
      <form method="POST" class="contact__form" action="#">
          {{form.hidden_tag()}}
          {{form.name.label()}}
          {{form.name()}}
          {{form.email.label()}}
          {{form.email()}}
          {{form.message.label()}}
          {{form.message()}}
          {{form.submit()}}
          {% with messages= get_flashed_messages() %}
              {% if messages %}
                  {% for message in messages %}
                      <p>{{message}} </p>
                  {% endfor %}
              {% endif %}
          {% endwith %}
      </form>
  </div>
</div>
{% endblock %}