{% extends "layout.html" %} {% block title %}{% endblock %}{% block body %}  	
  	<div class="story-page">
    		<div class="story-color">
    		</div>
    		<img class="top-green-icon-story " alt="" src="{{ url_for('static', filename='images/top green.png') }}">
    		
    		<div class="tash" data-scroll-to='topGreen-story'>____________</div>
    		<div class="check-our">CHECK OUR STORY</div>
    		<div class="story-2nd-line">Story Using Different Types of Visualizations</div>
    		<div class="crop-story"><iframe src="https://us3.ca.analytics.ibm.com/bi/?perspective=story&amp;pathRef=.my_folders%2FCrops%2BStory&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;mode=dashboard" width="1000" height="650" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
    		</div>
    		<div class="production-story"><iframe src="https://us3.ca.analytics.ibm.com/bi/?perspective=story&amp;pathRef=.my_folders%2FProduction%2BStory&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;mode=dashboard" width="1000" height="650" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
    		</div>
    		<div class="chemical-story"><iframe src="https://us3.ca.analytics.ibm.com/bi/?perspective=story&amp;pathRef=.my_folders%2FChemical%2BStory&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;mode=dashboard" width="1000" height="650" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
    		</div>
    		<div class="population-story"><iframe src="https://us3.ca.analytics.ibm.com/bi/?perspective=story&amp;pathRef=.my_folders%2FPopulation%2BStory&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;mode=dashboard" width="1000" height="650" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe></div>
    		
    		<div class="climate-story"><iframe src="https://us3.ca.analytics.ibm.com/bi/?perspective=story&amp;pathRef=.my_folders%2FClimate%2BStory&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;mode=dashboard" width="1000" height="650" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
    		</div>
    		<div class="crops-story"><iframe src="https://us3.ca.analytics.ibm.com/bi/?perspective=story&amp;pathRef=.my_folders%2FAll%2BCrops%2BStory&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;sceneId=-1&amp;sceneTime=0" width="1000" height="650" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>	</div>
    		<img class="logo" alt="" src="{{ url_for('static', filename='images/logo.png') }}">
    		
			<div class="agro-data-dynasty-container-con">
				<p class="agro-data-con">AGRO DATA</p>
				<p class="agro-data-con">DYNASTY</p>
			  </div>
    		<div class="home" id="hOMEText">HOME</div>
    		<div class="about" id="aBOUTText">ABOUT</div>
    		<div class="dashboard" id="dASHBOARDText">DASHBOARD</div>
    		<div class="story">STORY-REPORT</div>
    		<div class="contact" id="cONTACTText">CONTACT</div>
    		
    		<img class="storygif-icon" alt="" src="{{ url_for('static', filename='images/story.gif') }}">
    		
    		<div class="allcrops-story-headbox" data-scroll-to="allcropsStoryHeadbox">
    		</div>
    		<div class="climate-story-headbox" data-scroll-to="climateStoryHeadbox">
    		</div>
    		<div class="chemical-story-headbox" data-scroll-to="chemicalStoryHeadbox">
    		</div>
    		<div class="overall-story-headbox" data-scroll-to="overallStoryHeadbox">
    		</div>
    		<div class="production-story-headbox" data-scroll-to="productionStoryHeadbox">
    		</div>
    		<div class="population-story-headbox" data-scroll-to="populationStoryHeadbox">
    		</div>
    		<div class="crop-story-headbox-icon" data-scroll-to="cropStoryHeadbox"></div>  
    		
    		<div class="all-crops-story" data-scroll-to="aLLCROPSSTORY">ALL CROPS STORY</div>
    		<div class="chemical-story1">CHEMICAL STORY</div>
    		<div class="overall-report">OVERALL REPORT</div>
    		<div class="production-story1">PRODUCTION STORY</div>
    		<div class="population-story1">POPULATION STORY</div>
    		<div class="crops-story1">CROPS STORY</div>
    		<div class="climate-story1">CLIMATE STORY</div>
    		<div class="story1st">STORY</div>
    		<div class="overall-report-story"><iframe src="https://us3.ca.analytics.ibm.com/bi/?pathRef=.my_folders%2FOverall%2Breport&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded" width="1250" height="750" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
    		</div>
    		<div class="allcrops-story-topbox" id="allcropsStoryTopbox">
    		</div>
    		<div class="overall-report-topbox" id="overallReportTopbox">
    		</div>
    		<div class="chemical-story-topbox" id="chemicalStoryTopbox">
    		</div>
    		<div class="production-story-topbox" id="productionStoryTopbox">
    		</div>
    		<div class="population-story-topbox" id="populationStoryTopbox">
    		</div>
    		<div class="crops-story-topbox" id="cropsStoryTopbox">
    		</div>
    		<div class="climate-story-topbox" id="climateStoryTopbox">
    		</div>
    		<div class="allcrops-storytop" id="allcropsStorytopText">
      			<span class="get-started-txt-container">
        				<p class="agro-data">ALL CROPS </p>
      			</span>
    		</div>
    		<div class="overall-storytop" id="overallStorytopText">OVERALL-REPORT</div>
    		<div class="chemical-storytop" id="chemicalStorytopText">CHEMICAL </div>
    		<div class="production-storytop" id="productionStorytopText">PRODUCTION </div>
    		<div class="crops-storytop" id="cropsStorytopText">CROPS </div>
    		<div class="population-storytop" id="populationStorytopText">POPULATION </div>
    		<div class="climate-storytop" id="climateStorytopText">
      			<span class="get-started-txt-container">
        				<p class="agro-data">CLIMATE</p>
      			</span>
    		</div>
			<div class="arrow-hotspot-story-icon" id="arrowHotspotstoryImage">
				<i>&#9650;</i>
			</div>
  	</div>
	  <script src="{{ url_for('static', filename='js/story.js') }}"></script>
  	{% endblock %}
  	
  	
  	
  	
 